{% extends "base.html" %}

{% block titulo %} Buscar Ofertas {% endblock %}

{% block contenido_principal %}
<!-- Búsqueda -->
<div class="row">
    <div id="custom-search-input ">
        <form method="get" action="/oferta/buscar" >
            <div
                    class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input type="text" class="search-query form-control"
                       placeholder="Nombre del producto" name="busqueda"/>
                <span class="input-group-btn">
                <button class="btn" type="submit" id="btn-buscar">
                <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </form>
    </div>
</div>

<h2>Ofertas</h2>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <table class="table table-hover" id="tableOffers">
            <thead>
            <tr>
                <th>Título</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Vendedor</th>
                <th>Detalle</th>
            </tr>


            </thead>
            <tbody name="tableRows">


            {% for oferta in ofertas %}
            <tr>
                <td class="text-left">{{oferta.titulo}}</td>
                <td class="text-left">{{oferta.detalle}}</td>
                <td class="text-left">{{oferta.precio}}€</td>
                <td class="text-left"> {{oferta.vendedor}}</td>
                <td class="text-left"><a href = "/oferta/detalle/{{oferta._id.toString()}}" class="btn btn-info"> Ver detalles</a></td>
                {% if usuario == null %}
                <td class="text-left"><a href = "/identificarse"> Identificarse para comprar</a></td>
                {% elseif oferta.vendedor == usuario.email %}
                <td class="text-left"> Oferta Propia</td>
                {% elseif oferta.comprador != null %}
                <td class="text-left"> Vendida</td>
                {% elseif oferta.precio <= usuario.saldo %}
                <td class="text-left"><a href = "/oferta/comprar/{{oferta._id.toString()}}" class="btn btn-success"> Comprar</a></td>
                {% else %}
                <td class="text-left"> Saldo insuficiente</td>
                {% endif %}

            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
<div class="row text-center">
    <ul class="pagination">
        {% for pagina in paginas %}
        <li class="page-item" id="pi-{{pagina}}">
            {% if busqueda != null %}
            <a class="page-link" href="/oferta/buscar?pg={{pagina}}&busqueda={{busqueda}}">{{pagina}}</a>
            {% else %}
            <a class="page-link" href="/oferta/buscar?pg={{pagina}}">{{pagina}}</a>
            {% endif %}
        </li>
        {% endfor %}
        <script>
            $("#pi-" + "{{ actual}}").addClass("active");
        </script>
    </ul>
</div>
{% endblock %}